<div class="register-container">
  <h1>CUSTECH BOOKING SYSTEM</h1>
  <h2>Register</h2>
  <form (ngSubmit)="onRegister()" #registerForm="ngForm">
    <div>
      <input type="email" name="text" placeholder="Firstname" required />
      <input type="email" name="text" placeholder="Lastname" required />
    </div>
    <div>
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Email"
        required
      />
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Password"
        required
      />
    </div>
    <input type="email" name="text" placeholder="House Address" required />
    <button type="submit">Register</button>
  </form>
</div>
